# droppings
*~
.\#*
\#*
foo*

/.ICEauthority
/.IdeaIC*/
/.Xauthority
/.aspell.*
/.aws/
/.awsvault/
/.bash_history
/.bash_logout
/.cache/
/.cask/
/.config/
/.docker/
/.emacs.d/
/.face*
/.gnupg/
/.gtkrc-*
/.intellij/
/.java/
/.kde/
/.lastpass/
/.lesshst
/.local/
/.localbashrc
/.mozilla/
/.nmcli*
/.password-store/
/.pgadmin3
/.pgpass
/.pki/
/.pulse-cookie
/.python_history
/.screenlayout/
/.ssh/
/.steam/
/.steampath
/.steampid
/.sudo_as_admin_successful
/.uplink/
/.xpra/
/.xsession-errors

/Desktop/
/Downloads/
/coverage/
/snap/
/stale_outputs_checked
/pgadmin.log

/git/
/wg2/
