# droppings
*~
.\#*
\#*
foo*

/.Xauthority
/.aspell.*
/.aws/
/.bash_history
/.bash_sessions/
/.cache/
/.cask/
/.cert/
/.config/
/.dbus/
/.ddd/
/.emacs.d/
/.escobar/
/.fontconfig/
/.gdb_history
/.gem/
/.gnupg/
/.gnuplot_history
/.hex/
/.lastpass/
/.lesshst
/.local/
/.localbashrc
/.mozilla/
/.mix/
/.nmcli-history
/.pki/
/.psci_modules/
/.purescript/
/.ssh/
/.xsession-errors*

/Downloads/
/git/

# erlang droppings
*.beam
*.dump
erl_crash.dump
/.erlang.cookie
