# droppings
*~
.\#*
\#*
foo*

/.Xauthority
/.aspell.*
/.aws/
/.awsvault/
/.bash_history
/.bash_logout
/.cache/
/.cask/
/.config/
/.emacs.d/
/.face*
/.gnupg/
/.gtkrc-*
/.intellij/
/.kde/
/.lastpass/
/.lesshst
/.local/
/.localbashrc
/.mozilla/
/.password-store/
/.pki/
/.pulse-cookie
/.screenlayout/
/.ssh/
/.steam/
/.steampath
/.steampid
/.sudo_as_admin_successful
/.uplink/
/.xpra/
/.xsession-errors

/Desktop/
/Downloads/
/snap/

/git/
/wg2/
